#cas form
{
    display: block;
    margin: 18px 0 0;
    padding: 0;
    width: 100%;
    background: #fff;
}
#cas fieldset
{
    border: 0;
    margin: 0;
    padding: 0;
    float: left;
    clear: none;
    width: auto;
}
#cas fieldset legend
{
    display: none;
}

#cas #login
{
    float: left;
    margin: 0 -30em 0 0;
    padding: 15px;
    width: 25em;
    min-height: 15em;
    background: #fff url(../images/key-point_back.gif) right repeat-y;
    position: relative;
    border: 0;
}
#cas #login h2
{
    border-bottom: 1px solid #ddd;
    padding: 3px 0;
    font: normal 400 17px Georgia, "Times New Roman" , Times, serif;
    text-transform: capitalize;
    color: #333;
}
#cas #login label
{
    font-size: 11px;
}
#cas #login label span.accesskey
{
    text-decoration: underline;
}
#cas #login input
{
    letter-spacing: 1px;
}
#cas #login .check input
{
    position: relative;
    left: -4px;
    height: auto;
}
#cas #login .check label
{
    float: none;
    xwidth: auto;
    line-height: 1.8;
}
#cas #login .btn-row
{
    position: relative;
    top: 15px;
    padding-top: 10px;
    border-top: 1px solid #ddd;
}
* html #cas #login .btn-row
{
    top: 5px;
}
/* IE6 */
#cas #login .btn-submit
{
    float: none;
    clear: none;
    display: inline;
    letter-spacing: 0;
}
* html #cas #login .btn-submit
{
    background: #ffd;
}
#cas #login .btn-reset
{
    float: none;
    clear: none;
    margin-left: 5px;
    border: 0;
    background: transparent;
    color: #333;
    text-transform: lowercase;
    letter-spacing: 0;
}

#cas #sidebar
{
    float: left;
    margin-left: 27.5em;
    padding: 18px 15px;
}
#cas #sidebar h3
{
    font: normal 400 14px Georgia, "Times New Roman" , Times, serif;
    color: #333;
    margin: 18px 0 0;
    padding: 6px 0 3px;
}
#cas #sidebar p
{
    margin: 0 0 18px;
    padding: 0;
    color: #333;
    font-size: 1.1em;
    text-align: left;
}
#cas #sidebar a:link
{
    margin: 0 0 18px;
    padding: 0;
    font-size: 1.0em;
}
#cas #sidebar a:visited
{
    margin: 0 0 18px;
    padding: 0;
    font-size: 1.0em;
}
#cas #sidebar #verify a
{
    margin: 0 0 18px;
    padding: 0;
    font-size: 1.1em;
    text-decoration: none;
}
#cas #sidebar #verify .link
{
    text-decoration: underline;
}
#cas #sidebar #verify img
{
    padding: 4px;
    vertical-align: middle;
}

#cas #list-languages ul
{
    margin: 0;
    padding: 0;
    line-height: 1.5;
    list-style: none;
}
#cas #list-languages ul li
{
    display: inline;
    padding: 0 5px;
    border-right: 1px solid #ccc;
}
#cas #list-languages ul li.first
{
    padding-left: 0;
}
#cas #list-languages ul li.last
{
    padding-right: 0;
    border: 0;
}

#cas #footer p
{
    margin: 0 0 1em 0;
    padding: 0;
}

#cas #dialog
{
    position: relative;
    width: 60em;
    min-width: 600px;
    top: 20px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #002666;
    background-color: #FFF;
}
#cas #dialog div#innerborder
{
    margin: 1px;
    border: 4px solid #002666;
}

/* browser default font-size is 16px which is too big so we make it 16px x 62.5% = 10px */
#cas
{
    font: normal 400 62.5%/1.0 Verdana, sans-serif;
    min-width: 600px;
    color: #333;
}

/*
 - used to clear or contain floats within a non-floated container
 - this ruleset is used by UAs that handle :after - not IE - see ie_cas.css for IE fix
http://www.positioniseverything.net/easyclearing.html and http://www.ejeliot.com/blog/59 */
#header:after, #content:after, #footer:after, .clearfix:after, #login .fm-v:after, #fm-search div.row:after, #fm-search div.col:after
{
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* DIALOG BOX --------------------------------- */
#dialog
{
    position: relative;
    width: 60em;
    min-width: 600px;
    top: 20px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #002666;
    background-color: #FFF;
}
#dialog div#innerborder
{
    margin: 1px;
    border: 4px solid #002666;
}

/* CONTENT --------------------------------- */
#content
{
    clear: both;
    padding: 1px 0;
    margin: 3px;
    padding: 2px;
    border: 1px solid #335185;
}
#content h1
{
    margin: 15px 0;
    xbackground: transparent;
    xcolor: #000;
    font: normal 2.2em Georgia, "Times New Roman" , serif;
    text-transform: capitalize;
    letter-spacing: -1px;
}
#content h2
{
    margin: 0 0 .5em 0;
    font-size: 1.3em;
    font-weight: 400;
    color: #000;
    xborder-bottom: 1px solid #eee;
    padding: 3px 0;
    xletter-spacing: -1px;
}
#content h3
{
    font: 1em arial, helvetica, sans-serif;
    font-weight: 400;
}
#content p
{
    line-height: 1.5;
    font-size: 1.1em;
    padding: 0 0 18px;
}

/* FOOTER --------------------------------- */
#cas-footer
{
    clear: both;
    position: relative;
    width: 60em;
    min-width: 600px;
    top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 0 1px 0;
    text-align: center;
    background: transparent;
    color: #555;
}
#cas-footer img#logo
{
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 10px;
}
#cas-footer div
{
    clear: left;
    margin: 1em 5px .5em;
    overflow: hidden;
}
#cas-footer h4
{
    clear: left;
    float: left;
    margin: 0;
    padding: 0;
    font: normal 1em/1.2 Verdana,Arial,Helvetica,sans-serif;
}
#cas-footer #notices
{
    margin-top: 5em;
    padding: 0.5em 1em 1em 1em;
    text-align: left;
    border: 2px solid #77160B;
    background-color: #FFFFFF;
}
#cas-footer #notices h1
{
    text-align: right;
    color: #77160B;
    font: normal 400 1.8em/1.5em Georgia, "Times New Roman" , serif;
}
#cas-footer #notices p
{
    text-align: left;
    font-size: 1.1em;
}
#cas-footer #notices .emphasized
{
    font-weight: bolder;
}

/* MESSAGES --------------------------------- */
.info, .errors, .success
{
    clear: both;
    padding: 20px 20px 20px 100px;
    font-size: 10px;
    line-height: 1.5;
}
.info
{
    background: #fff url(../images/info.gif) no-repeat 20px 18px;
    color: #333;
}
.errors
{
    background: #fff url(../images/error.gif) no-repeat 20px 18px;
    color: #333;
    padding-bottom: 40px;
}
.success
{
    background: #fff url(../images/confirm.gif) no-repeat 20px 18px;
    color: #333;
}
#content .info h2, #content .errors h2, #content .success h2
{
    font-family: Georgia, "Times New Roman" ,Times,serif;
    font-size: 18px;
    line-height: 48px;
    font-weight: 400;
    margin: 0 18px 0 0;
    padding: 0;
}
#content .success p
{
    margin-bottom: 1em;
}
#content .errors h2, #content .errors h3
{
    color: #b00 !important;
}
#content .success h2, #content .success h3
{
    color: #060 !important;
}
.info ul, .errors ul, .success ul
{
    margin: 0 !important;
    padding: 0 !important;
    list-style-type: none !important;
}
/*	#content .info, #content .errors, #content .success {clear:both; margin:18px 0; padding:0 0 0 90px; font-size:10px; line-height:1.5;}*/

/* static messages */
#content p.info, #content p.help
{
    padding: 0 0 0 2em;
    border-color: #fff;
    background: #fff url(../images/info-s.gif) no-repeat 0 0;
    font-weight: 400;
    color: #000;
    line-height: 1.5;
}
#content p.help
{
    background: url(../images/help.gif) no-repeat 0 0;
}
#content #msg p
{
    padding: 0;
}

/* HEADER --------------------------------- */
#cas #header
{
    clear: both;
    position: relative;
    top: 0;
    left: 0;
}
#cas #header div#logo
{
    background-color: #002666;
    text-align: center;
    padding: 2px 0px 4px 0px;
}
#cas #header p#tagline
{
    display: none;
    padding: 0 0 2px 3px;
    color: #fff;
    font-size: 1.2em;
    line-height: 1.6;
}
#cas #header h1#app-name
{
    clear: both;
    text-align: right;
    padding: 0px 2px 0px 0px;
    background: #fff;
    color: #77160B;
    font: normal 400 1.8em/1.5em Georgia, "Times New Roman" , serif;
}
/* d21033 */