@{
    ViewBag.Title = "Contact";
    ViewBag.Message = "Computing Resources Unit (CRU)";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Phone</h3>
    </header>
    <p>
        <span class="label">Application Support:</span>
        <span style="font-weight: bold;">Ken Taylor</span>
        <span>530-752-1288</span>
    </p>
    <p>
        <span class="label">Computing Support:</span>
        <span>530-754-7122</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Application Developer:</span>
        <span><a href="mailto:kentaylor@ucdavis.edu">KenTaylor@ucdavis.edu</a></span>
    </p>
    @*<p>
        <span class="label">Marketing:</span>
        <span><a href="mailto:Marketing@example.com">Marketing@example.com</a></span>
    </p>*@
    <p>
        <span class="label">Computing Support:</span>
        <span><a href="http://caeshelp.ucdavis.edu/?appname=Data%20Dictionary">http://caeshelp.ucdavis.edu/?appname=Data%20Dictionary</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Address</h3>
    </header>
    <p>
        One Shields Ave<br />
        38 Mrak Hall<br/>
        Davis, CA 95616
    </p>
</section>