@using BannerDataDictionary.Models
@model IList<BannerDataDictionary.Models.LinkedServer>
           
@{
    ViewBag.Title = "Index";
}

@section subhead
{
    <h1>@ViewBag.Message</h1>

    <div>
        <p>A listing of Oracle Linked Servers</p>
    </div>
}

@section AdditionalScripts
{}
<div>
    <h4>Access to the Banner meta-data is limited to those individuals with Banner third-party accounts or those individuals whom have specifically requested access via e-mail to: <a href="mailto:banner-sa@ucdavis.edu?subject=Banner Meta-Data Schema Access Request&body=Please setup the following UC Davis Login, i.e. Kerberos, IDs to the named profiles and associate user to profiles for the individuals listed below.  This is solely for the purpose of allowing access to the Banner Schema meta-data by way of the CAES Data Dictionary application.  No other Banner access is requested, intended or implied.  Thank you.  I have included the College, unit name, user's full name, title, kerberos ID, e-mail address and phone number, as well as supervisor's full name, title, e-mail address, phone number, plus the business purpose.">banner-sa@ucdavis.edu</a></h4>
</div>
<div>
    <h3>Select a Linked Server to display a list of database owners (i.e., Schemas)</h3>
    <p>
    </p>

    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Server Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.ActionLink(item.Name, "Index", "Owners", new LinkedServer { Name = item.Name }, null)</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    <h3>Search All Linked Servers for specific keywords or text</h3>
    <p>
        @Html.ActionLink("Global Search Page", "Index", "Search", null, null)
    </p>
</div>