@{
    ViewBag.Title = "About";
    ViewBag.Message = "Oracle Data Dictionary";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    
    <h2>@ViewBag.Message</h2>
</hgroup>
<hr/>
<article style="font-size: medium;">
       
        <p>
            An application that collects miscellaneous table and column meta-data from various campus' Oracle databases and displays that information back out as an on-line data dictionary.
        </p>
        <p>
            Purpose: To provide a central location, i.e. URL, for viewing data dictionaries for all campus enterprise level databases.
        </p>
        <p class="text-error">
            Important Note: <i>No</i> actual data of any kind is displayed; only meta data describing the table schemas, etc.
        </p>

</article>

